// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

$colorpanel: #212529;
$bodycolor: #000000;
$colorsection: #03c3cd;

body {
    background-color: $bodycolor;
    color: #fff;
}


.shadowcard {

    width: 18rem;
    height: 20rem;
    background-color: $colorpanel;
    border-radius: 18%;
    color: #fff;
    box-shadow: 0 8px 20px rgb(0, 242, 255);
    margin-bottom: 2rem;
}
.shadowcard:hover {

    background-color: $colorpanel;
    color: #fff;
    box-shadow: 0 10px 30px rgb(0, 242, 255);
}

#disimg{
    
    border-radius: 20%;
    width: 16rem;
    height: 15rem;
    overflow: hidden;
}


.imgcarousel {
    width: 200rem;
    height: 60rem;
    overflow: hidden;
  
}


.colorfontcarusel {
    color: rgb(255, 255, 255);
    font-style: normal;
}

.formcontact {

    box-shadow: 0 5px 7px rgb(0, 242, 255);
    color: #fff;
    background-color: $colorpanel;
    width: 50%;
    display: block;
    /* O utiliza "inline-block" si el elemento debe ser un bloque en línea */
    margin: 0 auto;
    /* Establece los márgenes izquierdo y derecho en "auto" */


}

.imghero {

    border-radius: 50%;
    width: 25rem;
    height: 25rem;
    box-shadow: 0 6px 150px rgb(0, 242, 255);
    margin-bottom: 25px;
    margin-top: 10px;
}

#sechero {
    margin-bottom: 100px;
    margin-top: 100px;

}

.postitioncenter {
    width: 70rem;
    height: 35rem;
    display: block;
    /* O utiliza "inline-block" si el elemento debe ser un bloque en línea */
    margin: 0 auto;
    /* Establece los márgenes izquierdo y derecho en "auto" */
}


.imgcardround {
    border-radius: 50%;
    width: 12rem;
    height: 12rem;
}

.imgcardou {

    width: 25rem;
    height: 20rem;
    border-radius: 5%;
    margin-right: 25px;
    background-color: #fff;

}

.columcard {
    width: 18rem;
   

    .imgcardcolum {
        
        width: 18rem;
        height: 18rem;
       
    }
   
}


.imgcardou2 {
    width: 18rem;
    height: 16rem;
    border-radius: 5%;
    margin-right: 25px;
    background-color: #000000;

}

hr {
    border: 2.5px solid #ffffff;
    border-radius: 50px;
    box-shadow: 0 10px 20px rgb(0, 242, 255);

}

.cardlogin {

    margin-top: 10%;
    margin-bottom: 16%;

    .colocard {

        background-color: $colorpanel;
        color: white;
        border: #000000;
        box-shadow: 0 3px 35px rgb(0, 242, 255);
       
    }

    .colocard:hover{
        box-shadow: 0 5px 40px rgb(0, 242, 255);
    }
}

#avataricon{
    margin-left: 5px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}


#navbarstyle {
    background-color: $colorpanel;
    box-shadow: 0 7px 15px rgb(0, 242, 255);
    color: white;
    margin-bottom: 30px;
    position: sticky; 
   

}

.footerstyle {
    background-color: $colorpanel;
    color: #ffffff;
    box-shadow: 0 -7px 15px rgb(0, 242, 255);

    bottom: 0%;
    width: 100%;

}



.section-color {
    background-color: $colorsection;
    color: #000000;
    margin-top: 50px;
    box-shadow: 0 5px 300px rgb(0, 242, 255);
    margin-bottom: 10rem;
    margin-top: 10rem;
 
}

#secdispositivos {
    margin-top: 100px;
     margin-bottom: 100px;
     text-decoration: none;
    
}


.text-j {
    text-align: justify;

}

.buttons{

    box-shadow: 0 3px 25px rgb(0, 0, 0);
    width: 8rem; 
    height: 3rem; 
    margin-top:20px;
    
}
.buttons:hover{
    box-shadow: 0 3px 40px rgb(0, 0, 0);
    background-color: #000000;
}



.inputform{
    box-shadow: 0 5px 18px rgb(0, 242, 255);

}
.inputform:hover{
    box-shadow: 0 7px 22px rgb(0, 242, 255);
}